//Colours
$off-black: #20222b;
$off-white: white;
$off-half-white: #a5afd7;
$dark-blue: #333745;
$purple: #8357c5;

//Spaces
$zero: 0;
$s-size: 3.4rem;
$m-size: 1.6rem;
$m-l-size: 3.2rem;
$l-size: 4.8rem;
$font-s-size: 500;